*.log
*.pot
*.pyc
local_settings.py
env/

# build artifacts
docs/_build
build/
dist/
*.egg-info/

# editors
.vscode
.history
.sonarlint

# tests and coverage
.tox/
.pytest_cache
.coverage
htmlcov/
reports/
testapp/*.db

# frontend tooling / builds
js/node_modules/
js/lib/
cookie_consent/static/cookie_consent/cookiebar.module.*
