*.log
*.pot
*.pyc
local_settings.py
env/

# build artifacts
docs/_build
build/
dist/
*.egg-info/

# editors
.vscode
.history
.sonarlint

# tests and coverage
.tox/
.pytest_cache
.coverage
reports/
testapp/*.db
