{% load cookie_consent_tags %}
<div>
    <div class="toggle-item">
        <div class="IconToggle {% if widget.attrs.initial %}has-value{% endif %}">
            <input {% if widget.attrs.initial == 1 %}checked{% endif %}
                   required="{{ widget.required }}" type="checkbox" name="IconToggle"
                    tabindex="0"
                    id="{{ widget.attrs.cookie_group.varname }}"
                    class="IconToggle__checkbox" value="{{ widget.attrs.initial }}"><label for="{{ widget.attrs.cookie_group.varname }}"
                                                        class="IconToggle__label"></label>
        </div>
        <p><strong>{{ widget.attrs.cookie_group.name }}</strong></p>
    </div>
    <p>{{ widget.attrs.cookie_group.description }}</p>
</div>