{% load static %}
{% load cookie_consent_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <script src="{% static 'cookie_consent/cookiebar.js' %}"></script>
  </head>

  <body>
    <h1>Test page</h1>

    <h2>Social cookies</h2>
    <p>
        sharing button is displayed below only if "Social" cookies are accepted.
        <button id="share-button" type="button" style="display:none">SHARE</button>
    </p>

    <script type="{% js_type_for_cookie_consent request "social" "*:.google.com" %}" data-varname="social">
      var btn = document.getElementById('share-button');
      btn.style.display = 'block';
    </script>

    {% if request|cookie_consent_enabled %}
        {% comment %}
            LEGACY Javascript integration - use the new module approach for new projects!

            Legacy showCookieBar support will be removed in v1.0.
        {% endcomment %}
        {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

        {% if cookie_groups %}
            {% url "cookie_consent_cookie_group_list" as url_cookies %}
            {% cookie_consent_accept_url cookie_groups as url_accept %}
            {% cookie_consent_decline_url cookie_groups as url_decline %}
            <script type="text/javascript">
              var cookie_groups = [];
              {% for cookie_group in cookie_groups %}
                cookie_groups.push("{{ cookie_group.varname }}");
              {% endfor %}

              function ready(fn) {
                  if (document.readyState != 'loading') {
                    fn();
                  } else if (document.addEventListener) {
                    document.addEventListener('DOMContentLoaded', fn);
                  } else {
                    document.attachEvent('onreadystatechange', function() {
                      if (document.readyState != 'loading')
                        fn();
                    });
                  }
              }

              ready(function() {
                  window.legacyShowCookieBar({
                  content: "{% filter escapejs %}{% with cookie_groups=cookie_groups|join:", " %}<div class="cookie-bar">This site uses {{ cookie_groups }} cookies for better performance and user experience. Do you agree to use cookies? <a href="{{ url_accept }}" class="cc-cookie-accept">Accept</a> <a href="{{ url_decline }}" class="cc-cookie-decline">Decline</a> <a href="{{ url_cookies }}">Cookies info</a></div>{% endwith %}{% endfilter %}",
                  cookie_groups: cookie_groups,
                  cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                  beforeDeclined: function() {
                    document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                  }
                });
              });
            </script>
          {% endif %}

    {% endif %}

  </body>
</html>
