name: Release

on:
  push:
    tags:
    - '*'

jobs:
  build:
    name: Publish package to Jazzband private PyPI
    runs-on: ubuntu-latest
    if: github.repository == 'jazzband/django-cookie-consent'

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools twine wheel

      - uses: ./.github/actions/build-js
        with:
          npm-package: 'true'
          django-staticfiles: 'true'

      - name: Build package
        run: |
          python setup.py --version
          python setup.py sdist --format=gztar bdist_wheel
          twine check dist/*

      - name: Upload packages to Jazzband
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: jazzband
          password: ${{ secrets.JAZZBAND_RELEASE_KEY }}
          repository_url: https://jazzband.co/projects/django-cookie-consent/upload
